@import "tailwindcss";



*{
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}


button{
  transition: all 0.3s linear;
}

button:active{
  scale: 0.87;
}